services:
  rmf_demo:
    image: ghcr.io/open-rmf/rmf/rmf_demos:jazzy-rmf-latest  
    container_name: rmf_demo
    environment:
      - ROS_DOMAIN_ID=9
    tty: true
    stdin_open: true
    depends_on:
      - rmf_api
    command: bash -c "export ROS_DOMAIN_ID=9; ros2 launch rmf_demos_gz hotel.launch.xml headless:=1 server_uri:=ws://rmf_api:8000/_internal"
  
  rmf_api:
    image: ghcr.io/open-rmf/rmf-web/api-server:jazzy-nightly
    container_name: rmf_api
    environment:
      - ROS_DOMAIN_ID=9
      - RMW_IMPLEMENTATION=rmw_fastrtps_cpp
    ports:
      - "127.0.0.1:8000:8000"
      - "127.0.0.1:8006:8006"
    entrypoint: ["bash", "-c", "source /opt/ros/jazzy/setup.bash && uvicorn api_server.app:app --host 0.0.0.0 --port 8000"]

  rmf_dashboard:
    image: ghcr.io/open-rmf/rmf-web/demo-dashboard:jazzy-nightly
    container_name: rmf_dashboard
    environment:
      - RMF_SERVER_URL=http://rmf_api:8000
      - TRAJECTORY_SERVER_URL=ws://rmf_api:8006
    ports:
      - "127.0.0.1:3000:3000"